.ApplyPage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  overflow-y: auto;
  overflow-x: hidden;

  &__main {
    @include box(100vw);
    max-width: 1152px;
    min-height: 580px;
    position: relative;
    margin-top: 123px;
    margin-bottom: 30px;
    @include make-flex($just: flex-start, $align: flex-start);

    @include respondAt(1518px) {
      width: 90vw;
    }

    @include respondAt(840px) {
      height: auto;
      min-height: 600px;
    }

    @include respondAt(915px) {
      margin-top: 80px;
    }

    & > h1 {
      @include box($height: 70px);
    }

    & > h3 {
      @include box($height: 40px);
    }

    &--details {
      @include box(100%, auto);
      @include make-flex($dir: column, $just: flex-start, $align: flex-start);
      gap: 15px;
      margin-top: 20px;
    }

    &--detailsRow {
      @include box(100%, auto);
      @include make-flex($align: flex-start);
      gap: 10px;
    }

    &--fakeInput {
      @include box($height: auto);
      min-height: 38px;
      border: none;
      @include make-flex($align: center, $just: flex-start, $dir: row);
      outline: none;
      font-size: 15px;
      color: #131313;
      font-family: "Poppins", sans-serif;
      padding: 10px;
      border: 1px solid #969191aa;
      border-radius: 3px;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 20px;
      // white-space: nowrap;
    }

    &--container {
      // @include make-flex($just: flex-start);
      @include box($height: auto);
      gap: 20px;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      & > span {
        font-size: 30px;
      }

      @include respondAt(675px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }

    &--videoResume {
      @include box($height: auto);
      min-height: 100px;
      border-radius: 9px;
      border: 1px dashed gray;
      background-color: aliceblue;
      @include make-flex();
      gap: 20px;
      padding: 20px;

      p {
        @include make-flex();
        @include box($height: auto);
        font-size: 20px;
      }

      & > div {
        @include box($height: auto);
        @include make-flex($dir: row);
        gap: 10px;
        flex-wrap: wrap;

        span {
          padding: 3px 5px;
          border-radius: 2px;
          background-color: #e1e1e1bd;
        }
      }
    }
  }
}
