.LandingPage {
  @include make-flex($dir: column, $just: flex-start);
  @include box($height: unset);
  overflow-y: auto;
  overflow-x: hidden;

  .HeroSection {
    @include box(100vw, 405px);
    max-width: 1152px;
    position: relative;
    margin-top: 123px;
    @include make-flex($dir: row, $just: flex-start);

    @include respondAt(1518px) {
      width: 90vw;
    }

    @include respondAt(1016px) {
      // height: 430px;
      height: 510px;
    }
    @include respondAt(840px) {
      height: auto;
      min-height: 600px;
    }

    @include respondAt(915px) {
      margin-top: 80px;
    }

    &__left {
      @include box(50%);
      @include make-flex();
      border-radius: 30px 0 0 30px;
      position: relative;
      // gap: 25px;

      @include respondAt(840px) {
        width: 100%;
        border-radius: 20px;
      }
    }
    &__right {
      @include box(50%);
      @include make-flex();
      mix-blend-mode: exclusion;
      position: absolute;
      right: 0px;
      z-index: -1;
      transform: rotate(180deg);
      object-fit: cover;

      @include respondAt(840px) {
        display: none;
      }

      &--heroImage {
        transform: rotate(180deg);
        height: 100%;
        @include respondAt(1016px) {
          height: 83%;
        }
      }
    }

    &__top {
      @include make-flex($just: space-around);
      @include box($height: auto);
      min-height: 65%;

      // gap: 15%;
      @include respondAt(1016px) {
        gap: 30px;
        height: auto;
      }

      @include respondAt(840px) {
        gap: 40px;
      }

      &--title {
        font-size: 60px;
        color: #404040;
        font-weight: 700;

        @include respondAt(840px) {
          text-align: center;
        }
        span {
          color: #93b8e9;
          position: relative;
          // &::after {
          //   position: absolute;
          //   left: 16px;
          //   transform: rotate(354deg);
          //   bottom: 3px;

          //   content: url(/Img/HeroUnderline.png);
          //   @include box(100px, 30px);
          // }
        }
      }
      p {
        color: #52575a;
        font-size: 18px;
        font-weight: 300;
        @include respondAt(840px) {
          text-align: center;
        }
      }
    }

    &__bottom {
      @include make-flex($dir: row, $just: flex-start);
      @include box(100%, auto);
      column-gap: 20px;
      row-gap: 10px;
      flex-wrap: wrap;

      span {
        @include box(100%, auto);
        color: #52575a;
      }

      @include respondAt(840px) {
        justify-content: center;
        flex-wrap: wrap;
      }

      @include respondAt(445px) {
        a {
          flex-grow: 1;
        }
      }
    }
  }

  .JobsSection {
    @include box(100vw, auto);
    min-height: 480px;
    @include make-flex();
    background-color: #f6f6f6;

    &__content {
      @include box();
      @include make-flex($align: flex-start);
      max-width: calc(1152px + 40px);
      gap: 20px;
      padding: 40px 20px;

      h2 {
        font-size: 35px;
      }

      &--listing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        @include box();
        // @include make-flex($dir: row, $just: flex-start);
        gap: 25px;
        flex-wrap: wrap;

        @include respondAt(680px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
        }

        @include respondAt(480px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
        }
      }
    }
  }

  .ReviewSection {
    @include box(100vw, auto);
    min-height: 480px;
    @include make-flex();
    background-color: white;

    &__content {
      @include box();
      @include make-flex($align: flex-start);
      max-width: calc(1152px + 40px);
      gap: 20px;
      padding: 40px 20px;
      h2 {
        font-size: 35px;
      }

      &--listing {
        overflow: hidden;
        @include box(100%, auto);
      }

      &--listingContainer {
        display: flex;
        padding: 20px 0;
        gap: 30px;

        .TestimonialWrapper {
          &:last-child {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
