.AuthModal {
  @include make-flex($just: flex-start, $align: flex-end);
  @include box(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.49);
  z-index: 11;
  padding-top: 35px;
  padding-right: 35px;
  @include respondAt(620px) {
    padding: 10px;
  }
  &__container {
    position: relative;
    // min-height: 450px;
    border-radius: 7px;
    @include make-flex($just: flex-start);
    @include box(320px, auto);
    border: 1.5px solid #93b8e9;
    background-color: white;

    @include respondAt(400px) {
      min-height: 400px;
    }

    &--header {
      @include box(100%, 45px);
      @include make-flex($dir: row, $just: space-between);
      padding: 13px 6px 13px 13px;
      border-bottom: 1.5px solid #93b8e9;

      p {
        color: #202124;
        font-size: 14px;
      }
    }

    &--close {
      border-left: 1.5px solid #93b8e9;
      @include box(35px, 35px);
      @include make-flex();
      font-size: 25px;
      padding-left: 4px;
      cursor: pointer;
      color: #5f6368;
      // @include box(24px);

      &:hover {
        color: #fe5349;
      }

      @include respondAt(400px) {
        top: 10px;
      }
    }

    &--resendOtp {
      @include box($height: auto);
      padding: 20px;
      @include make-flex($dir: row);
      gap: 10px;

      span {
        color: #68a3f0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include respondAt(620px) {
      @include box($height: auto);
    }
  }

  &__containerBody {
    @include box();
    @include make-flex($just: flex-start);
    padding: 20px;
    gap: 25px;
    &--phoneInput {
      @include box($height: 33px);
      border-radius: 4px;
      background-color: #ffffff;
      color: #b0b6bb;
      border: 1.5px solid #dddddd;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      padding: 6px 10px;

      &:focus-visible {
        outline: none;
      }
    }
    &--row {
      @include make-flex($align: flex-start);
      @include box(100%, auto);
      color: #202124;
      gap: 10px;

      label {
        font-size: 16px;
      }

      .pincode-input-container {
        @include box($height: auto);
        @include make-flex($dir: row);
      }
    }

    &--errorMsg {
      color: #fe5349 !important;
      font-size: 15px !important;
      font-family: "Roboto", sans-serif !important;
      display: flex !important;
      @include make-flex($dir: row, $just: flex-start);
      gap: 5px;
      @include box(100%, auto);

      &::before {
        font-size: 15px !important;
      }
    }
  }
}
