.FancySelectWrapper {
  position: relative;
  @include box(100px, 35px);

  @include respondAt(915px) {
    width: 100%;
  }

  &::before {
    right: 0;
    position: absolute;
    z-index: 1;
    color: #323a45;
    @include box(auto);
    @include make-flex();
    margin-right: 8px;
    pointer-events: none;
  }
}
.FancySelect {
  @include box();
  border: 1.5px solid #dddddd;
  font-size: 13px;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
