.FancyButton {
  @include box(auto, 40px);
  @include make-flex();
  padding: 0 20px;
  border: none;
  background-color: #15222c;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    color: #15222c;
    background-color: white;
    border: 1px solid #15222c;
  }
}
